{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}



<div class="row" id="abt">
<div class="col-md-12">
<h1><b> About Us</h1>
</div>
<p>Royal Wedding Planner provides full service wedding planning and coordinating services.
 In our twelve years' experience we have selected the best suppliers for our clients and we are now able to provide top-class services at the best rates. All our services are customized according to your needs and budget. If required we can plan everything from beginning to end but we can also help you with certain aspects if you wish. We negotiate and liaise between you and the suppliers and are present on the day to save you from stress and to make sure that everything runs smoothly.

</p>
</div>

<div class="row" id="abot">
<div class="col-md-12" style="background:rgba(255,255,255,0.5); padding:30px;">
<h1>Let's Create the Best Wedding for You</h1>
<br>
<h3>Our team of vendors and wedding planners is always glad to create an unforgettable wedding for you and your guests.</h3>
</div>
</div>

<div class="row" id="fact">
<div class="col-md-12">
<h1> COMPANY FACTS</h1>
<h3> <span class="glyphicon glyphicon-ok-sign"></span> We will arange every detail of your wedding.</h3>

<h3> <span class="glyphicon glyphicon-ok-sign"></span> let your wedding be a reflection of your taste and personalities.</h3>

<h3> <span class="glyphicon glyphicon-ok-sign"></span> we have new ideas to make your day the most creative and memorable.</h3>

<h3> <span class="glyphicon glyphicon-ok-sign"></span> making the the most important day in your life a happy one.</h3>

<h3> <span class="glyphicon glyphicon-ok-sign"></span> Let us create a unique wedding day for you .</h3>

<h3> <span class="glyphicon glyphicon-ok-sign"></span> Let's make your dreams come true.</h3>

<h3> <span class="glyphicon glyphicon-ok-sign"></span> enjoying a wonderful and relaxed wedding.</h3>

<h3> <span class="glyphicon glyphicon-ok-sign"></span> providing complete wedding for your dream wedding.</h3>

<h3> <span class="glyphicon glyphicon-ok-sign"></span> Find wedding planner & consultant for your special and unique wedding .</h3>

<h3> <span class="glyphicon glyphicon-ok-sign"></span> Royal wedding planner is the best planners for you.</h3>

<h3> <span class="glyphicon glyphicon-ok-sign"></span> The planner are more time present only for you.</h3>
</div>
</div>

<div class="row text-center" id="our">
<div class="col-md-12">
<h1>Our Services</h1>
</div>

<div class="col-md-12">
<div class="col-md-4">
<img src="{% static 'dcr.jpg' %}" height="200" width="100%">
<h3>Decoration</h3>
<h4>Unique Decoration Services</h4>
</div>
<div class="col-md-4">
<img src="{% static 'evpln.jpg' %}" height="200" width="100%">
<h3>Event planning</h3>
<h4>Let us plan your Wedding</h4>
</div>
<div class="col-md-4">
<img src="{% static 'fd2.jpg' %}" height="200" width="100%">
<h3>Floral Design</h3>
<h4>Best Bouquets for your event</h4>
</div>
</div>

<div class="col-md-12">
<div class="col-md-4">
<img src="{% static 'stnloc.jpg' %}" height="200" width="100%">
<h3>Stunning Location</h3>
<h4>Choose the best location for your wedding</h4>
</div>
<div class="col-md-4">
<img src="{% static 'cak1.jpg' %}" height="200" width="100%">
<h3>Cake Design</h3>
<h4>Creative cake ideas for your wedding event</h4>
</div>
<div class="col-md-4">
<img src="{% static 'dnc.jpg' %}" height="200" width="100%">
<h3>Dance Lesson</h3>
<h4>Impress every guest with your dance</h4>
</div>
</div>

<div class="col-md-12">
<div class="col-md-4">
<img src="{% static 'car.jpg' %}" height="200" width="100%">
<h3>Wedding Cars</h3>
<h4>Choose the cars </h4>
</div>
<div class="col-md-4">
<img src="{% static 'wd1.jpg' %}" height="200" width="100%">
<h3>Wedding Venues</h3>
<h4>Check the venue of your wedding planning</h4>
</div>
<div class="col-md-4">
<img src="{% static 'cmr1.jpg' %}" height="200" width="100%">
<h3>Photography</h3>
<h4>Collections wonderful moments</h4>
</div>
</div>
</div>

{% endblock %}