{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}



<div class="row" id="blog">
<div class="col-md-12">
<h1><b> The Best Way of Wedding Planning</h1>

</div>
</div>

<div class="row text-center" >
<div class="col-md-12">
<h1><b>Latest wedding ideas & practical advice</h1>
<h4>Wedding Blog - Trends & advice from experts and top professionals</h4>
</div>
</div>


<div class="row" id="blogs">
<div class="col-md-12">
<h1 class="designheading"><b>Latest Blog Posts</h1>

</div>

<br>

<div class="col-md-3">
<img src="{% static 'bf.jpg' %}" height="300" width="100%">
</div>
<div class="col-md-3">
<h1>BRIDAL FASHION</h1>
<h3>A Glam Makeup Session With Swati Verma - #SSQuarantineSessions Shivani Singh , 06 May 2020 For this live session, Swati 
took over and showed us all how to do</h3>
</div>
<div class="col-md-3">
<img src="{% static 'bjf.jpg' %}" height="300" width="100%">
</div>
<div class="col-md-3">
<h1>PHOTO & VIDEO IDEAS</h1>
<h3>From Sister To Mister, Must Have Dance Pictures For Your Wedding Album!

Rashmi Jayara , 06 May 2020

If we ask you what is your favourite thing about Indian Weddings, </h3>
</div>

<div class="col-md-3">
<img src="{% static 'bcf.jpg' %}" height="300" width="100%">
</div>
<div class="col-md-3">
<h1>ECO-FRIENDLY</h1>
<h3>#LockDownWaliShaadi: This Couple Got Married Before The Clock Struck 12 AM

Shivani Singh , 05 May 2020

Love always finds a way. Isn't that what we all want to hear? </h3>
</div>
<div class="col-md-3">
<img src="{% static 'bef.jpg' %}" height="300" width="100%">
</div>
<div class="col-md-3">
<h1>JEWELLERY</h1>
<h3>We're With Shri Paramani Jewels Who Styled Deepika Padukone in Bajirao Mastani - #...

Shivani Singh , 05 May 2020

Shri Paramani Jewels have an exquisite range of rare gems and jewellery </h3>
</div>

<div class="col-md-12">
<h1 class="designheading"><b>Real Wedding Stories (see how they did it)</h1>

</div>

<br>

<div class="col-md-3">
<img src="{% static 'dc5.jpg' %}" height="300" width="100%">
</div>
<div class="col-md-3">
<h1>ECO-FRIENDLY</h1>
<h3>#LockDownWaliShaadi: This Couple Got Married Before The Clock Struck 12 AM

Shivani Singh , 05 May 2020

Love always finds a way. Isn't that what we all want to hear?</h3>
</div>
<div class="col-md-3">
<img src="{% static 'dnc.jpg' %}" height="300" width="100%">
</div>
<div class="col-md-3">
<h1>DESTINATION</h1>
<h3> A Royal Jaipur Palace Wedding Where The Bride Entered On A Motorbike!

Rashmi Jayara , 04 May 2020

Do you also think that arranged marriages lack love? We have such a wedding. </h3>
</div>
<div class="clearfix"></div>
<div class="col-md-3">
<img src="{% static 'wd13.jpg' %}" height="300" width="100%">
</div>
<div class="col-md-3">
<h1>PUNJABI</h1>
<h3>Vivacious Punjabi Wedding Of #SharmaGayiDavu With Bride In Unique Lehenga!

Rashmi Jayara , 01 May 2020

The Internet is already going crazy with the gorgeous wedding picture</h3>
</div>
<div class="col-md-3">
<img src="{% static 'wd0.jpg' %}" height="300" width="100%">
</div>
<div class="col-md-3">
<h1>LUXURY</h1>
<h3>#SachaLove: The Perfect Delhi Wedding With Fun-Filled Ceremonies, Gorgeous Outfits...

Rashmi Jayara , 30 Apr 2020

Who would have thought that a GDPI round at a school can lead </h3>
</div>
</div>
{% endblock %}