{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}



<div class="row" id="blog">
<div class="col-md-12">
<h1><b>OUR DESIGNS</h1>
</div>
</div>

<div class="container-fluid">
<div class="row text-center" id="blg">
<div class="col-md-12">
<h1>Our Designs</h1>
<p>Welcome to our designs! Here you can follow our everyday lives as wedding planners and you can see
 behind the scenes designs from some of our magical weddings in Royal Wedding Planner.
 If this is your dream, don't hesitate to contact us for your wedding. 
</p>
</div>
</div>

<div class="row text-center" id="bg">
<div class="col-md-12">

<h2 style="color:DEEPPINK; font-family:Forte;"> Visit Our Royal Wedding Planner</h2>
<h2 class="designheading">Wedding  Decoration Ideas</h2>
<div class="col-md-12">
<div class="col-md-6">
<h3> Green Decoration</h3>
<img src="{% static 'dc1.jpg' %}" height="300" width="100%">
</div>

<div class="col-md-6">
<h3> Stage Decoration</h3>
<img src="{% static 'dc6.jpg' %}" height="300" width="100%">
</div>

<div class="col-md-6">
<h3> Flower Decoration</h3>
<img src="{% static 'dc5.jpg' %}" height="300" width="100%">
</div>

<div class="col-md-6">
<h3> Hall Decoration</h3>
<img src="{% static 'dc4.jpg' %}" height="300" width="100%">
</div>
</div>
<br>
<br>
<br>
<div class="row text-center" id="lhn">
<div class="col-md-12">
<h1 class="designheading"> Lehengas </h1>
<h2>A Royal Destination Wedding With The Bride In A Stunning differenr colour Lehenga</h2>
<div class="col-md-4">
<h3> Red Lehenga</h3>
<img src="{% static 'll.jpg' %}" height="300" width="100%">
</div>

<div class="col-md-4">
<h3> Pink Lehenga</h3>
<img src="{% static 'l2.jpg' %}" height="300" width="100%">
</div>

<div class="col-md-4">
<h3> Orange Lehenga</h3>
<img src="{% static 'l9.jpg' %}" height="300" width="100%">
</div>

<div class="col-md-4">
<h3> Peach Lehenga</h3>
<img src="{% static 'pl.jpg' %}" height="300" width="100%">
</div>
<div class="col-md-4">
<h3> Vine Lehenga</h3>
<img src="{% static 'l4.jpg' %}" height="300" width="100%">
</div>

<div class="col-md-4">
<h3> Golden Lehenga</h3>
<img src="{% static 'l5.jpg' %}" height="300" width="100%">
</div>

<div class="col-md-4">
<h3> White Lehenga</h3>
<img src="{% static 'l6.jpg' %}" height="300" width="100%">
</div>

<div class="col-md-4">
<h3> Mahroon Lehenga</h3>
<img src="{% static 'l8.jpg' %}" height="300" width="100%">
</div>

<div class="col-md-4">
<h3> Black Lehenga</h3>
<img src="{% static 'lb.jpg' %}" height="300" width="100%">
</div>

<div class="row text-center" id="mhn">
<div class="col-md-12">
<h1 class="designheading"> Mehndi </h1>
<h2>A Royal Destination Wedding With The Bride In A Stunning differenr latest nd best mehndi Designes</h2>
<div class="col-md-3">
<img src="{% static 'mh8.jpg' %}" height="300" width="100%">
</div>

<div class="col-md-3">
<img src="{% static 'mh1.jpg' %}" height="300" width="100%">
</div>

<div class="col-md-3">
<img src="{% static 'mh2.jpg' %}" height="300" width="100%">
</div>

<div class="col-md-3">
<img src="{% static 'l3.jpg' %}" height="300" width="100%">
</div>

<div class="col-md-3">
<img src="{% static 'mh4.jpg' %}" height="300" width="100%">
</div>

<div class="col-md-3">
<img src="{% static 'mh5.jpg' %}" height="300" width="100%">
</div>

<div class="col-md-3">
<img src="{% static 'mh6.jpg' %}" height="300" width="100%">
</div>

<div class="col-md-3">
<img src="{% static 'mh7.jpg' %}" height="300" width="100%">
</div>


</div>
</div>
</div>
</div>
{% endblock %}