{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row" id="ser">
<div class="col-md-12" style="background:rgba(255,255,255,0.6);">
<h1><b> Services</h1>
<p>Royal Wedding Planner provides full service wedding planning and coordinating services.
 In our twelve years' experience we have selected the best suppliers for our clients and we are now able to provide top-class services at the best rates. All our services are customized according to your needs and budget. If required we can plan everything from beginning to end but we can also help you with certain aspects if you wish. We negotiate and liaise between you and the suppliers and are present on the day to save you from stress and to make sure that everything runs smoothly.

</p>
</div>
</div>

<div class="container-fluid">
<div class="row" id="srv">
<div class="col-md-12">
<h1>Complete Wedding Planning Services</h1>
<div class="col-md-4">
<h3>ONGOING CONSULTATION</h3>
<h4><span class="glyphicon glyphicon-ok-sign"></span> We will work with you from conception to completion of your wedding vision! Our complimentary initial meeting will be followed by monthly bridal consultations.
 We will provide advice and assistance with every planning detail, from budget allocations to menu planning and decor design</h4>
</div>
<div class="col-md-4">
<h3>VENDOR SOURCING (BOOKINGS)</h3>
<h4><span class="glyphicon glyphicon-ok-sign"></span> Invitation Cards</h4>

<h4><span class="glyphicon glyphicon-ok-sign"></span> Favors</h4>

<h4><span class="glyphicon glyphicon-ok-sign"></span> Beautician</h4>

<h4><span class="glyphicon glyphicon-ok-sign"></span> Mehendi Artis</h4>

<h4><span class="glyphicon glyphicon-ok-sign"></span> Band, Ghodi</h4>

<h4><span class="glyphicon glyphicon-ok-sign"></span> Entertainment</h4>

<h4><span class="glyphicon glyphicon-ok-sign"></span> Wedding Website</h4>

<h4><span class="glyphicon glyphicon-ok-sign"></span> Photographer</h4>

<h4><span class="glyphicon glyphicon-ok-sign"></span> Cinematographers</h4>
</div>
<div class="col-md-4">
<h3>VENUE MANAGEMENT</h3>
<h4><span class="glyphicon glyphicon-ok-sign"></span> Contract Negotiation and Booking</h4>

<h4><span class="glyphicon glyphicon-ok-sign"></span> Event Timeline Management</h4>

<h4><span class="glyphicon glyphicon-ok-sign"></span> Room Allocation for Destination Weddings</h4>

<h4><span class="glyphicon glyphicon-ok-sign"></span> Duty Manager Co-ordination</h4>

<h4><span class="glyphicon glyphicon-ok-sign"></span> On-Day Coordination</h4>
</div>
<div class="clearfix"></div>
<div class="col-md-4">
<h3>DECOR DESIGNING AND EXECUTION</h3>
<h4><span class="glyphicon glyphicon-ok-sign"></span> With our expertise in decor designing we will together conceptualize your wedding decor. 
We will assist with creating, finalizing and executing a detailed wedding decor look.</h4>
</div>

<div class="col-md-4">
<h3>PRE-WEDDING FUNCTIONS MANAGEMENT</h3>
<h4><span class="glyphicon glyphicon-ok-sign"></span> All your Pre-wedding functions sangeet, mehendi etc are handle by our expert wedding planners</h4>
</div>

<div class="col-md-4">
<h3>VENDOR MANAGEMENT</h3>
<h4><span class="glyphicon glyphicon-ok-sign"></span> Constant co-ordination with all booked vendors for seamless on-time execution, follow up and cross checking to adhere to all pre-stated requirements.</h4>
</div>
<div class="clearfix"></div>
<div class="col-md-4">
<h3>GUEST MANAGEMENT</h3>
<h4><span class="glyphicon glyphicon-ok-sign"></span> We will handle the logistics so you can be stress free on your wedding day!</h4>
</div>

<div class="row text-center" id="core">
<div class="col-md-12">
<h1>Core Services</h1>
</div>
<div class="row">
<div class="col-md-12">
<div class="col-md-4">
<h4><span class="glyphicon glyphicon-ok"></span> Complete Wedding Planning</h4>
<p>Our Full Service Wedding Planning includes every aspect of planning your wedding. No detail is left undone, as our team will be there for you in every step of the way
</p>
</div>
<div class="col-md-4">
<h4><span class="glyphicon glyphicon-send"></span>Venue Booking</h4>
<p>MWP plans over 40 weddings in year. This avail us to get discounted rates from venues which are not available to you. Get benefits of our hotel tie-up. Post your requirements now.
</p>
</div>
<div class="col-md-4">
<h4><i class="fa fa-magic"></i>Wedding Decor</h4>
<p>From the moment your guests walk in, they should experience your vision and personality through the stunning customized decor and unique touches that the  our wedding decorators will provide.
</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="col-md-4">
<h4><span class="glyphicon glyphicon-star-empty"></span>Partial Wedding Planning</h4>
<p>Our partial planning services is perfect for those couples who have already started their wedding planning process and need professional guidance regarding some elements of their wedding like decor designing or  planning a theme.</p>
</div>
<div class="col-md-4">
<h4><span class="glyphicon glyphicon-user"></span>Vendor Sourcing</h4>
<p>Special prices and exclusive discounts with our partners (Decorators, Entertainment, Bridal Makeup, Mehendi etc) and priority access to events sponsored by MWP.</p>
</div>
<div class="col-md-4">
<h4><i class="fa fa-adjust"></i>Wedding Packages</h4>
<p>Wedding packages are pre-arranged combinations of the best wedding deals. Wedding Packages are extremely popular when planning a destination wedding.</p>
</div>
</div>
</div>
</div>


</div>
</div>
</div>

{% endblock %}