{% extends 'base.html' %}
{% load static %}
{% block content %} 
<div class="row">
<div class="parallax1">
            <div class="col-md-8 col-md-offset-2">
			<div style="color:white;background:rgba(0,0,0,0.5);font-size:22px;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;margin-top:50px;">
                <h3 class="page-header">Thank You</h3>
				
                <p>Your payment is done . you are  successfully booking.</p>
            </div>
        </div>
    </div>
    
    </div>
    <div class="container">
        <div class="row" style="margin-top: 6%; display:none;">


{% for key,value in paytm.items %}
    {{key}} =  {{value}} <br>
{% endfor %}

</div>
</div>

{% endblock %}